
* {
    box-sizing: border-box;
}

.whole {
    background-color: red;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}

.one {

    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 73px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.two {

    height: 727px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.three {

    /* Layout Properties */
top: 800px;
left: 0px;
width: 1280px;
height: 348px;
/* UI Properties */
background: #000000;
opacity: 1;
display: flex;
flex-direction: row;
}

.four {
    width: 1280px;
    height: 348px;
    /* UI Properties */
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
}

.five {
    width: 1280px;
    height: 348px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.96;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.six {
    width: 1280px;
    height: 102px;
    /* UI Properties */
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.94;
    display: flex;
    justify-content: center;
}

.three-left {
    margin-top: 76px;
    margin-left: 150px;
    width: 475px;
    height: 197px;
    font-family: raleway;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #000000 0% 0% no-repeat padding-box;

    /*width: 60%;
    background-color: #000000;
    color:#FFFFFF;*/
}

.three-right {
    width: 40%;
    background-color: #000000;
    display: flex;

    /* Layout Properties */
    margin-top: 45px;
    left: 731px;
    width: 399px;
    height: 237px;
    /* UI Properties */
    background: transparent url('img/photo-1492963892107-740cd39d9ff3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.top {
/* Layout Properties */
top: 1141px; /*sirve para saber la altura no tiene funcion*/
left: 0px; /*sir para saber el margen pero no tiene funcion real*/
width: 1280px;
height: 122px;
/* UI Properties */
background: #1E1A13 0% 0% no-repeat padding-box;
opacity: 0.98;
}

.bottom {
    height: 226px;
    width: 1280px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-one {
    width: 20%;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.bottom-two {
    width: 20%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.bottom-three {
    width: 30%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}


.one-title {
    /* Layout Properties */
    margin-top: 7px;
    left: 530px; /*si utilizo la etiqueta correcta de margin-left se me corre por eso lo deje asi pero nose como usarla bien al parecer*/
    width: 221px;
    height: 59px;
    /* UI Properties */
    font-family: raleway;
    font-size: 59px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #000000 0% 0% no-repeat padding-box;
}

.top.title {
/* Layout Properties */
top: 7px;
left: 530px;
width: 221px;
height: 59px;
/* UI Properties */
font-family: raleway;
font-size: 59px;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
background: #000000 0% 0% no-repeat padding-box;
}

.two-image {

    /* Layout Properties */
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    
    /* UI Properties */
    background: transparent url('img/photo-1516008805996-d2abb468cc9a.png') 0% 0% no-repeat padding-box; /*no entiendo para que es esto*/
    opacity: 1;
}

.three-right-image {
    display: flex;
    flex-direction: row;
    margin-bottom: 66px; /*no se por que no logre que el margin-top funcionara bien de 45px y tuve que poner el contrario para que se cuadrara*/
    margin-left: 106px;
    width: 399px;
    height: 237px;
}

/*.texto-imagen-left {

margin-top: 76px;
margin-left: 150px;
width: 475px;
height: 197px;

text-align: left;
font-family: raleway;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}*/

/*.imagen-texto {
    margin-top: 45px;
    margin-left: 106px;
    width: 399px;
    height: 237px;
}*/

.titulo-caracteristicas {

    margin-top: 75px;
    margin-left: 464px;
    width: 356px;
    height: 47px;

    text-align: left;
    font-family: raleway;
    font-size: 40px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.parrafo-boton-one {
    /* Layout Properties */

    margin-left: 80px;
    margin-top: 150px;
    width: 120px;
    height: 29px;
    /* UI Properties */
    text-align: center;
    font-family: raleway;
    font-size: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.parrafo-boton-two {
    margin-left: 90px;
    margin-top: 150px;
    width: 108px;
    height: 29px;
    /* UI Properties */
    text-align: center;
    font-family: raleway;
    font-size: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}

.parrafo-boton-three {
    margin-left: 90px;
    margin-top: 150px;
    width: 205px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font-family: raleway;
    font-size: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;  
}

.imagen-primera {
    margin-top: 73px;
    margin-right: 16px;
}

.imagen-segunda {
    margin-top: 73px;
    margin-right: 16px;
}

.imagen-tercera {
    margin-top: 73px;
}

.footer {

    margin-top: 39px;
    

    /* UI Properties */
    text-align: left;
    font-size: 20px;
    font-family: raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

